.permalink-heading:hover:after {
    content: ' ยง'
}

.book-review {
    overflow-x: hidden
}

.book-review blockquote {
    font-size: 1em
}

.book-review .book-review-wrapper {
    display: flex
}

.book-review .book-cover {
    width: 30%;
    position: relative
}

.book-review .book-cover img {
    width: 90%
}

.book-review .book-cover .rect,
.book-review .book-cover .circle,
.book-review .book-cover .triangle {
    position: absolute;
    z-index: -1
}

.book-review .book-content {
    width: 70%
}

.book-review .art-left .book-content {
    padding-left: 1em
}

.book-review .art-right .book-content {
    padding-right: 1em
}

.book-review .art-right .book-cover {
    order: 2
}

.book-review .version-control .book-cover .rect {
    top: 100px;
    left: 50px;
    width: 300px;
    height: 400px;
    background: rgba(255, 0, 0, 0.3)
}

.book-review .version-control .book-cover .circle {
    top: -50px;
    left: 150px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(126, 212, 255, 0.5)
}

.book-review .creative-selection .book-cover .triangle {
    top: -100px;
    right: 100px;
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 360px solid rgba(126, 212, 255, 0.5);
    transform: rotate(-5deg)
}

.book-review .creative-selection .book-cover .rect {
    top: 100px;
    right: -100px;
    width: 350px;
    height: 450px;
    background: rgba(255, 0, 0, 0.5);
    transform: rotate(10deg)
}

.book-review .bad-blood .book-cover .circle {
    top: 150px;
    right: -100px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.5)
}

.book-review .bad-blood .book-cover .rect {
    top: -100px;
    left: -200px;
    width: 350px;
    height: 450px;
    background: rgba(126, 212, 255, 0.5);
    transform: rotate(10deg)
}

@media (max-width: 979px) {
    .book-review .book-review-wrapper {
        flex-direction: column
    }

    .book-review .book-cover {
        align-self: center;
        width: 60%;
        max-width: 15rem
    }

    .book-review .book-content {
        width: 100%
    }

    .book-review .art-right .book-cover {
        order: 0
    }

    .book-review .art-left .book-content {
        padding-left: 0
    }

    .book-review .version-control .book-cover .rect {
        top: 8rem;
        left: 5rem;
        width: 12rem;
        height: 16rem;
        background: rgba(255, 0, 0, 0.3)
    }

    .book-review .version-control .book-cover .circle {
        top: -5rem;
        left: 4rem;
        width: 18rem;
        height: 18rem;
        border-radius: 50%;
        background: rgba(126, 212, 255, 0.5)
    }

    .book-review .creative-selection .book-cover .triangle {
        top: -5rem;
        right: -3rem;
        width: 0;
        height: 0;
        border-left: 6rem solid transparent;
        border-right: 6rem solid transparent;
        border-bottom: 12rem solid rgba(126, 212, 255, 0.5);
        transform: rotate(-5deg)
    }

    .book-review .creative-selection .book-cover .rect {
        top: 5rem;
        right: -5rem;
        width: 10rem;
        height: 15rem;
        background: rgba(255, 0, 0, 0.5);
        transform: rotate(10deg)
    }

    .book-review .bad-blood .book-cover .circle {
        top: 10rem;
        right: -5rem;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background: rgba(255, 0, 0, 0.5)
    }

    .book-review .bad-blood .book-cover .rect {
        top: -3rem;
        left: -5rem;
        width: 10rem;
        height: 15rem;
        background: rgba(126, 212, 255, 0.5);
        transform: rotate(10deg)
    }
}

@media (min-width: 980px) {
    .photo-post .photoset {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .photo-post .collage {
        display: block;
        position: relative;
        margin: 5rem 0
    }

    .photo-post .collage .main {
        width: 80%;
        margin: 0 auto
    }

    .photo-post .collage .side {
        position: absolute;
        width: 40%
    }

    .photo-post .collage .side.left {
        left: 0
    }

    .photo-post .collage .side.right {
        right: 0
    }

    .photo-post .collage+.caption {
        margin-bottom: 5rem
    }

    .photo-post .collage.custom-car {
        height: 40rem
    }

    .photo-post .collage.custom-car .side {
        top: 24rem
    }

    .photo-post .collage.custom-museum {
        height: 60rem
    }

    .photo-post .collage.custom-museum .side {
        top: 30rem
    }

    .photo-post .half {
        align-items: center
    }

    .photo-post .half .photo {
        width: 50%
    }

    .photo-post .two-thirds {
        align-items: center
    }

    .photo-post .two-thirds .photo.landscape {
        width: 63%
    }

    .photo-post .two-thirds .photo.portrait {
        width: 35.5%
    }

    .photo-post .two-thirds .photo.absolute img {
        height: auto
    }

    .photo-post .two-thirds a:first-child {
        margin-right: 1%
    }

    .photo-post .custom-bookshop img {
        height: 31rem
    }

    .photo-post .custom-landscape-portrait img {
        height: 26rem
    }

    .photo-post .custom-landscape-portrait .left {
        margin-right: 1rem
    }

    .photo-post .custom-artgallery img {
        height: 33rem
    }

    .photo-post .custom-artgallery .left {
        margin-right: 1rem
    }

    .photo-post .custom-stores {
        height: 60rem
    }

    .photo-post .custom-stores .photo {
        position: absolute;
        width: 70%
    }

    .photo-post .custom-stores .left {
        left: -4rem
    }

    .photo-post .custom-stores .right {
        right: -4rem;
        top: 30rem
    }

    .photo-post .custom-skates1 {
        height: 43rem
    }

    .photo-post .custom-skates1 .photo {
        position: absolute
    }

    .photo-post .custom-skates1 .left {
        width: 40%;
        left: 7rem
    }

    .photo-post .custom-skates1 .right {
        width: 35%;
        right: 8rem;
        top: 8rem
    }

    .photo-post .custom-salmon {
        height: 43rem
    }

    .photo-post .custom-salmon .photo {
        position: absolute
    }

    .photo-post .custom-salmon .left {
        width: 47%;
        left: 3rem
    }

    .photo-post .custom-salmon .right {
        width: 42%;
        right: 3rem;
        top: 8rem
    }

    .photo-post .custom-skates2 {
        height: 46rem
    }

    .photo-post .custom-skates2 .photo {
        position: absolute;
        width: 70%
    }

    .photo-post .custom-skates2 .left {
        left: -4rem;
        top: 26rem
    }

    .photo-post .custom-skates2 .right {
        right: -4rem
    }

    .photo-post .custom-goose .photo {
        width: 33.33333333333333%
    }

    .photo-post .custom-table {
        height: 68rem
    }

    .photo-post .custom-table .photo {
        position: absolute
    }

    .photo-post .custom-table .left {
        width: 78%;
        left: -4rem
    }

    .photo-post .custom-table .right {
        width: 40%;
        top: 34rem;
        right: -4rem
    }

    .photo-post .custom-flowers {
        height: 57rem
    }

    .photo-post .custom-flowers .photo {
        position: absolute
    }

    .photo-post .custom-flowers .left {
        width: 70%;
        left: -4rem
    }

    .photo-post .custom-flowers .right {
        width: 50%;
        top: 20rem;
        right: 0rem
    }
}

.photo-post .photo {
    display: block;
    margin: 0
}

.photo-post img {
    display: block;
    max-width: 100%;
    image-orientation: from-image
}

.photo-post .caption {
    display: block;
    text-align: center;
    font-style: italic
}

.photo-post .gutter {
    margin-bottom: 2rem
}

.photo-post .photoset.gutters {
    gap: 0.5rem
}

body {
    background-color: #171a28;
    color: #e6e6e6;
    font-family: "Spectral", serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto
}

a {
    color: #ebc3c3;
    text-decoration: underline
}

a:hover {
    color: #a6707c
}

strong {
    font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    color: #ebc3c3
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify
}

.header h1 {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.header h1 a:hover {
    color: #ebc3c3
}

.header nav {
    font-family: "Space Mono", monospace;
    display: flex;
    flex-wrap: wrap
}

.header nav a {
    text-decoration: none
}

.header nav a:hover {
    color: #ebc3c3
}

.header nav a:before {
    content: '\00B7';
    padding: 0.3rem
}

.header nav a:first-child:before {
    content: '';
    padding: 0
}

h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    word-wrap: break-word
}

h3 {
    font-size: 2rem;
    margin: 1rem 0
}

h3:before {
    content: '# '
}

p {
    line-height: 1.8
}

pre {
    padding: 1em;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    background-color: #343434;
    color: #fff;
    box-shadow: inset 0px 0px 20px 10px #222;
    overflow-x: scroll
}

blockquote {
    margin: 2em 0;
    padding: 0.5rem 2rem;
    font-size: 1.4em;
    position: relative;
    background-color: #363a4c;
    z-index: -1
}

blockquote p:first-of-type:before {
    color: #4d1c2e;
    font-size: 14em;
    content: '\201C';
    position: absolute;
    left: -0.1em;
    top: -0.65em;
    font-family: "Times New Roman", serif;
    z-index: -100
}

blockquote.long-quote {
    font-size: 1em
}

section {
    overflow-wrap: break-word
}

section img {
    width: 100%
}

section img.real-size {
    width: auto;
    display: block;
    margin: 0 auto
}

section .inline-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

section .inline-images img {
    margin: initial
}

.caption {
    display: block;
    text-align: center;
    font-style: italic
}

span.post-date,
span.post-categories {
    display: block;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    color: #ebc3c3;
    font-family: "Space Mono", monospace
}

span.post-categories {
    font-style: italic
}

article {
    border-bottom: 1px solid #a6707c;
    margin-bottom: 1rem
}

article:last-child {
    border: 0;
    margin-bottom: 4rem
}

.blogfeed {
    list-style: none;
    margin: 1rem 0;
    padding: 0
}

.blogfeed--title {
    font-weight: bold
}

.blogfeed--date {
    font-style: italic
}

.card {
    border: 2px solid #ebc3c3;
    padding: 2rem;
    box-shadow: 12px 12px 0 -1px #ebc3c3;
    margin-bottom: 6rem;
    display: flex
}

.card .half {
    flex: 0 0 50%
}

.card .card-description {
    padding-left: 1rem
}

.card h3:before {
    margin-left: 1rem;
    content: ''
}

@media (max-width: 767px) {
    body {
        font-size: 1.3rem
    }

    .header {
        flex-direction: column;
        align-items: flex-start
    }

    .header h1 {
        font-size: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem
    }

    h2 {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 0
    }

    h3 {
        font-size: 1.2rem
    }

    .card {
        flex-direction: column;
        box-shadow: 8px 8px 0 -1px #ebc3c3
    }

    .card .half {
        flex: 0 0 100%
    }

    .card .card-description {
        padding-left: 0
    }

    .card h3,
    .card h3:before {
        margin-left: 0
    }

    .card ul {
        margin: 0;
        padding-left: 0.4rem
    }
}

@media screen and (max-width: 450px) {
    .header nav {
        flex-direction: column
    }

    .header nav a:first-child:before {
        content: '\00B7';
        padding: 0.3rem
    }
}
